// Les couleurs de Food'ici
// GRIS
$black-900: #151C16;
$black-800: #3B423C;
$black-accent: #353E36;
$black-700: #7C7C7C;
$black-600: #AAADAB;
$black-500: #EBEBEB;

// VERTS
$green-900: #1B391F;
$green-800: #455E48;
$green-accent: #2A5730;
$green-700: #93AE8F;
$green-600: #DAE1CE;
$green-500: #EAE9E4;

// ORANGE
$orange-900: #9E401E;
$orange-800: #C2461B;
$orange-accent: #D86137;
$orange-700: #E07A56;
$orange-600: #EEEAE0;
$orange-500: #F9F7F3;
