// Specific CSS for your cart

.title-page {
    text-align: center;
    margin: 60px 0 50px 0;
}

.main-content{
	margin: 90px 0;
}

#back{
	margin: 50px 0;
}

// ------- CART EMPTY ----------

.illustration{
	text-align:center;
	opacity: 0.6;
	margin-top: 40px;
}
.empty{
	font-family: $body-font;
	text-align: center;
	font-size: 1.5em !important;
	font-weight: 300 !important;
	color: $green-700 !important;
}

// ----------- ASIDE CART PAGE --------------
.recap {
	background-color: #fff;
	border-radius: 20px;
	padding: 40px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	height: 100%;
	margin-top: 39px;
}

.recap .overtitle {
	font-family: $body-font;
	font-weight: lighter;
	color: $black-600;
	text-transform: uppercase;
	font-size: 16px;
	margin: 0;
}

.address-and-date {
	font-size: 1.2em !important;
  margin-bottom: 23px;
  padding-top: 3px;
	font-family: $headers-font;
}

.recap footer {
	display: flex;
	width: 100%;
	flex-direction: column;
}

#total{
	display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 13px;
}

#total p{
  color: $green-800!important;
	margin: 0;
  font-size: 19px!important;
  strong {
    font-size: 22px!important;
  }
}

#total .number-article{
  font-size: 16px!important;
	// font-weight: 200 !important;
}

.taxes{
	text-align: right;
	font-weight: 300!important;
	color: $black-600;
	margin-top: 40px;
  margin-bottom: 0px;
}

.btn-custom{
  width: 100%;
  margin: auto;
}

// .btn-custom:disabled{
// 	background-color: $black-600 !important;
// }

// -------------------

// ----- TIMELINE --------
#timeline{
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	width: 600px;
	height: 100px;
	background-image: asset-url('cart/timeline.png');
	background-repeat: repeat-x;
}

.step{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.step-items{
  background-color: $green-700;
  color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 61%;
  margin: 5px 0;
  display: flex;
  align-items:center;
  justify-content: center;
}

.color-text {
	color: $green-700;
	font-family: $body-font;
	font-size: 0.8em !important;
	margin: 5px 0;
}

.text-active{
	font-weight: 700 !important;
	color: $green-800;
	margin: 5px 0;
	font-size: 1em !important;
}

.custom-active{
	font-weight: bold;
	background-color: $green-800;
	color: #fff;
	height: 50px;
  width: 50px;
	border-radius: 61%;
	margin: 5px 0;
  display: flex;
  align-items:center;
  justify-content: center;
}

// ---------------
