.banniere-commercant {
  // background-size: cover;
  // background-position: top;
  height: 550px;
  background-size: 100%;

  h1 {
    padding-top: 100px;
    margin: 0;
    text-align: left;
  }

  img {
   -webkit-filter: brightness(20%);
    filter:brightness(20%);
}

}

.back-text {
  opacity: 40%;
}

.img-product {
  border: none;
  border-radius: 20px;
  height:400px;
  width:300px;
  background: url("https://res.cloudinary.com/dlu9wclb0/image/upload/v1606313176/card-texture_ehqi5a.png");
  background-size: cover;
  display: flex;
  align-items:center;
  justify-content:center;


  &:hover img {
    width: 83%;
    transition: 0.5s;
  }

  img {
    width:80%;
    display: block;
    transition: 0.5s;

}

  .form-group {
    max-width: 400px;
    position: absolute;
    bottom: 10px;
    right: 10px;

    .form-control {
      border-radius: 10px;
      border: none;
      width: 100px;
    }
  }
}

.courses {
  height:600px;
  width:250px;
  background-color: white;
  border-radius: 20px;
  // position: -webkit-sticky;
  position: fixed;
  top: 208px;
  right:17vw;
  z-index: 999;
  border:none;
  box-shadow: 0px 15px 10px 5px rgba(80, 80, 80, .05);
}

.text-product {
  max-width: 450px;

  p {
    line-height: 1.8;
    opacity: 0.7;
  }

}

.text-shop {
  text-align: left;

  h1 {
  color: #EEEAE0;
  }

  p {
  color: #EEEAE0;
  }

  .overtitle {
  color: #EEEAE0;
  }
}

.text-shop-content {
  max-width: 500px;
}

#border-bottom {
  border-bottom: 2px dashed #DAE1CE;
}

#border-top {
  border-top: 2px dashed #DAE1CE;
}

.button-product {
  width:350px;
  height:50px;
  border-radius: 15px;
  padding:10px;

}

.card-price {
    font-size: 35px;
    font-family: 'Poppins';
    display: flex;

    h4 {
      font-family: 'Poppins';
      text-align: left;
    }

    .price-currency {
      font-size: 15px;
    }

}

.cart-list {

  ul {
    padding: 10px;
    list-style-type: none;
  }

  li {
    padding-bottom: 0px;
  }

  .shop-cart {
    line-height: 0.9;
    opacity: 0.9;
    font-size:14px;
  }

  .line-cart {
    display: flex;
    justify-content: space-between;
    line-height: 0.9;
    opacity: 0.8;
    font-size: 12px;
  }
}

.cart-total {
  display: flex;
  justify-content: space-between;
  opacity: 0.9;
}
