<article class="card-product">
 	<%= image_tag "bavette-boeuf.png", alt: "image d'une pomme", width: 200 %>
	<div class="card-product-infos">
		<div>
			<p class="product-name">Bavette de boeuf</p>
		<p><span>250g</span></p>
		</div>
		<p class="add-or-remove"> -  2  + </p>
		<div class="price">
			<p><strong>5</strong><sup>€/kg</sup></p>
		<p><span>0,0€/kg</span></p>
		</div>
		<div>
			<a href="#" title=""><i class="far fa-trash-alt"></i></a>
		</div>
	</div>
</article>