<!-- Footer -->

<footer class="page-footer font-small">
  <div class="test"></div>
  <div class="white-footer">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <p class="font-weight-bold mt-4 mb-1">Food'ici</p>
        <ul class="list-unstyled custom-foodici-footer">
          <li>
            <a href="#!">A propos</a>
          </li>
          <li>
            <a href="#!">Presse</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <p class="font-weight-bold mt-4 mb-1">Mention légales</p>

        <ul class="list-unstyled custom-foodici-footer">
          <li>
            <a href="#!">Confidentialité</a>
          </li>
          <li>
            <a href="#!">Cookies</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <p class="font-weight-bold mt-4 mb-1">Aide</p>

        <ul class="list-unstyled custom-foodici-footer">
          <li>
            <a href="#!">Nous contacter</a>
          </li>
          <li>
            <a href="#!">FAQ</a>
          </li>
          <li>
            <a href="#!">Assistance technique</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <p class="font-weight-bold mt-4 mb-1">Téléchargez l'application</p>


          <img src="https://res.cloudinary.com/dlu9wclb0/image/upload/v1606403559/app-store-badge-2_h4tqsg.png"
           alt="Dans l'App Store"
           style="width:104px;">
            <img src="https://res.cloudinary.com/dlu9wclb0/image/upload/v1606402996/te%CC%81le%CC%81charger-google-play1_z3btyg.png"
           alt="Dans le Google Play Store"
           style="width:102px;">

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
</div>
</footer>
<!-- Footer -->
