<!-- <footer class="page-footer">
    <div class="test"></div>
    <div class="row content-footer">
    <div class="col"></div>
    <div class="col  pb-4"><ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1">
            <i class="fab fa-facebook-f"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
            <i class="fab fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-gplus mx-1">
            <i class="fab fa-google-plus-g"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1">
            <i class="fab fa-linkedin-in"> </i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col">
      <div class="footer-copyright">Un site développé par Food'ici</div>
    </div>
    <div class="col"></div>
  </div>
</footer> -->

<div class="page-footer">
  <div class="col">
      <div class="footer-copyright">Mentions légales</div>
      <div class="footer-copyright">Aide</div>
    </div>
</div>
