<nav id="timeline">
	<div class="step">
		<p class="custom-active"><strong >1</strong></p>
		<p class="color-text text-active">Mon panier</p>
	</div>
	<div class="step">
		<p class="step-items"><strong>2</strong></p>
		<p class="color-text">Résumé de commande</p>
	</div>
	<div class="step">
		<p class="step-items"><strong>3</strong></p>
		<p class="color-text">Confirmation</p>
	</div>
</nav>
