<h3><%= shop.name %></h3>
<div class="overtitle">Ouvert de <%= shop.opening_hour %>h à <%= shop.closing_hour %>h</div>
<p><%= shop.address %></p>
<%#= link_to "Découvrir les produits", products_path %>
