<main class="container">
	<h1>Panier</h1>
	<%= render :partial => "shared/timeline" %>
	<div class="row">
		<div class="col-12 col-lg-8">
			<% @order_lines.each do |category,order_lines| %>
				<section>
					<h3><%= category %></h3>
					<% order_lines.each do |order_line| %>
						<%= render partial: "shared/card_product_cart", locals: { order_line: order_line } %>
					<% end %>
				</section>
			<% end %>
		</div>
		<aside class="col-12 col-lg-4 recap">
			<div>
				<p class="overtitle">Adresse de départ</p>
				<p class="address-and-date">17 rue des Oiseaux, Dinan</p>
			</div>
			<div>
				<p class="overtitle">Récupérez vos courses</p>
				<p class="address-and-date">Le mercredi 25 novembre</p>
			</div>
			<footer>
				<p class="taxes">Taxes incluses</p>
				<div id="total">
					<p>3 articles</p>
					<p>TOTAL : <strong> 13,43€ </strong></p>
				</div>
			</footer>
			<p><a href="#" class="btn btn-primary main-btn btn-block">Valider</a></p>
		</aside>
	</div>
</main>