
.container-compteur {
  display:flex;
  position:absolute;
  top: 0;
  right: 50px;
}

.container-compteur input {
  width:40px;
}

.basket {
  background-color:$green-accent;
  border-radius:50%;
  position:absolute;
  right:0;
  width:48px;
  height:48px;
  border-width: 0px;
}



.main-cta {
  background-color:$orange-accent;
  border-radius:50%;
  position:absolute;
  right:0;
  width:48px;
  height:48px;
  border-width: 0px;
}


.compteur {
  position:absolute;
  left:-150px;
  top: -70px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  display:flex;
  align-items:center;
}

.hidden {
    display:none !important;
}

.value-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  color:white;
  background: #2A5730;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-width: 0;

  &:focus {
    outline: 0;
  }
}

.value-button:hover {
  cursor: pointer;
}

.value-button.decrease {
  margin-right: -16px;
  border-radius: 50px 0 0 50px;
}

.value-button.increase {
  margin-left: -14px;
  border-radius: 0 50px 50px 0;
}

.counter-value {
  text-align: center;
  border: none;
  margin: 0px;
  width: 40px;
  height: 40px;
  background-color:#2A5730;
  color:white;
  padding: 1px 2px;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.counter-submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  position: relative;
  bottom: 180px;
  left: 230px;
  border-radius: 20px;
  p {
    color: white;
  }
}

