:root {
  --primary: #EEECE8;
}

* {
  box-sizing: border-box;
}

.container-2 {
  align-items: center;
  display: flex;
  // height: 100vh;
  justify-content: center;
}

.shape, .shape-2, .shape-homepage-1, .shape-homepage-2, .shape-payment {
  background: var(--primary) 100%;
  -webkit-animation: morph 5s ease-in-out infinite;
  animation: morph 5s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  transition: all 1s ease-in-out;
  z-index: -999999;
}

.shape {
  top: 500px;
  height: 400px;
  width: 400px;
  z-index: 1;

  img {
  z-index: 3;
  width: 400px;
  margin-bottom: 20px;
  }

}

.shape-2 {
  height: 700px;
  width: 600px;
  right:0;
  margin-top: 300px;
  position: absolute;
}

.shape-homepage-1 {
  height: 700px;
  width: 600px;
  position: absolute;
  left: -180px;
  top: 960px;
}

.shape-homepage-2 {
  height: 700px;
  width: 600px;
  left: 1180px;
  top: 570px;
  z-index: -999999;
  position: absolute;
}

.shape-payment {
  height: 600px;
  width: 600px;
  left: 1180px;
  top: -2000px;
  z-index: -999999;
  position: absolute;
}

@keyframes morph {
  0% {
      border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
      background: var(--primary) 100%;
  }

  50% {
      border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
      background: var(--primary) 100%;
  }

  100% {
    border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
    background: var(--primary) 100%;
  }
}
