
// STYLE -----------------------------------------------------------------------
.card-product {
  overflow: hidden;
  height: 140px;
  background: white;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: 1000ms;
}

.img-product-card-cart {
  width: 200px;
  height: 240px;
  border: none;
  background: url("https://res.cloudinary.com/dlu9wclb0/image/upload/v1606313176/card-texture_ehqi5a.png");
  background-size: cover;
  object-fit: cover;
  display: flex;
  align-items:center;
  justify-content:center;
}

.img-product-card-cart a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-product-cart {
  width: 80% !important;
  object-fit: cover;
}

.product-name {
  font-family: $body-font;
  font-weight: 500!important;
  font-size: 20px!important;
  margin: 0;
}

.quantity {
  font-weight: 400;
}

.card-product strong{
  font-size: 18px !important;
  color: $green-800!important;
}

.card-product sup{
  color: $green-800!important;
  font-size: 14px !important;
}

.card-product i {
  font-size: 1.3em;
  color: $black-700;
  transition: all 0.5s;
}

.card-product p {
  line-height: 1.4;
  margin: 0;
}

// PLACEMENT -------------------------------------------------------------------

aside.recap {
  margin-top: 60px;
}

.card-product-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 21px;
}

.card-product-add-price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 54%;
}

.price {
  text-align: right;
  font-weight: 400!important;
  font-size: 18px!important;
  span {
    font-weight: 300;
    color: $green-accent!important;
  }
}

.card-product-info-wrapper {
  width: 200px;
  p span {
    font-weight: 300;
    color: $green-accent!important;
  }
}

.delete-icon-cart {
  padding-right: 45px!important;
  margin-left: 10px;
  width: 21px;
  opacity: 0.4!important;
}

.card-product .card-product-infos {
  padding: 16px 30px;
}

.add-or-remove {
  font-size: 1.2em !important;
  color: $green-800;
  background-color: $black-500;
  opacity: 0.8;
  padding: 6px 10px;
  border-radius: 20px;
}

.add-or-remove i {
  font-size: 14px!important;
  opacity: 0.8;
  margin: 0 5px;
  color: $black-700;
}

.add-or-remove button {
  border: none;
  background-color: transparent;
}


// ------- PSEUDO CLASSES ------

.card-product:hover {
  transition: 500ms;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.04);
}

.card-product i:hover {
  color: $green-accent;
  transition: 500ms;
}
