.products-list-wrapper {
  flex: 0 0 64%;
}

.products-cart-wrapper {
  flex: 0 0 33%;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: $primary;
}

#border-bottom {
  border-bottom: 2px dashed #dae1ce;
}

#border-top {
  border-top: 2px dashed #dae1ce;
}

.list-course {
  width: 250px;
  position: fixed;
  top: 420px;
  right:17vw;
  z-index: 999;
}

.img-product-card {
  border: none;

  background: url("https://res.cloudinary.com/dlu9wclb0/image/upload/v1606313176/card-texture_ehqi5a.png");
  background-size: cover;
}

.img-product-c {
  width: 100px;
  border-radius: 20px 20px 0 0;

}
