
// INFO WINDOWS ----------------------------------------------------------------
.mapboxgl-popup {
  min-width: 250px!important;
  margin-top: 21px!important;
}

.mapboxgl-popup-content {
  text-align: left;
  padding: 30px;
}

.mapboxgl-popup-content h3 {
  font-size: 23px!important;
  font-weight: 700!important;
  margin-bottom: 0px!important;
}

.mapboxgl-popup-content p {
  font-size: 14px!important;
  margin-bottom: 0px!important;
}

.mapboxgl-popup-content .overtitle {
  font-size: 12px!important;
  padding-bottom: 5px;
}

.mapboxgl-popup-close-button{
  font-size: 14px;
  color: $green-900;
}

// MARKERS ---------------------------------------------------------------------
.starting-marker {
  background-image: url('picto/starting-marker.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.marker {
  background-image: url('picto/marker.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: width 0.3s, height 0.3s;
}

.marker:hover {
  width: 50px;
  height: 50px;
}
