// Graphical variables
@import "config/colors";
@import "config/fonts";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';

// Your CSS partials
@import "components/index";
@import "pages/index";

.nav-pills .nav-link {
  border-radius: 10px;
}

@import"pages/show";
@import"components/footer";

@import "pages/show";
